# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Build artifacts
Makefile
config.status
autom4te.cache
*.d
include/config.h

# "Junk"
*.log
*~
\#*

# Directories with build targets in them.
*-build
*-stage
*-test

